#order-details{
    margin-top:  130px;
    text-align: center;
    // padding: 70px;

   .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    width: 70%;
    display: block;
    margin: auto;
   }
}